@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.md-header .logo-text, .md-sidebar .logo-text {
  font-family: Barlow,sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}

.md-header__title {
  font-family: Barlow,sans-serif;
}

.md-header__button.md-logo {
  padding-right: 0.1rem;
}

.logo3d {
  margin-left:0.4em;
}

@media only screen and (max-width: 76.1875em) {
  .md-header .logo-text, .md-sidebar .logo-text, .md-sidebar .logo3d {
    display: none;
  }
  .logo3d {
    margin-left: 1em;
  }
}